@font-face {
  font-family: 'DancingScript';
  src: url('/fonts/DancingScript.ttf');
}

@font-face {
  font-family: 'ChenYuluoyan';
  src: url('/fonts/ChenYuluoyan-Thin.ttf');
}

@font-face {
  font-family: 'Yozai';
  src: url('/fonts/Yozai.ttf');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/MaterialIcons-Regular.ttf') format('truetype');
}
